
<div class="card">
    <label class="text-center text-2xl">PEDIDO</label>
    <div class="grid grid-nogutter">
        <div class="col-12" *ngFor="let item of store.pedidos(); let first = first" class="col-12">
            <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                    <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                        <div>
                            <span class="font-medium text-secondary text-sm">{{ item.nombreCategoria }}</span>
                            <div class="text-lg font-medium text-900 mt-2">{{ item.nombre }}</div>
                        </div>
                    </div>
                    <div class="flex flex-column md:align-items-end gap-5">
                        <span class="text-xl font-semibold text-900">{{ item.precio * item.cantidad | currency: 'BS' }}</span>
                    </div>
                    <div class="flex flex-column md:align-items-end gap-5">
                        <span class="text-xl font-semibold text-900">{{ item.cantidad }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-content-end w-full gap-4">
            <span class="text-2xl"><label class="font-bold align-self-end">Total:</label> {{store.totalPedido()}}</span>
            @if (store.totalPedido() > 0) {
                <p-button label="Realizar Pedido" icon="pi pi-check" (onClick)="realizarPedido($event)" />
            }
        </div>
    </div>
    <p-toast />
    <p-confirmDialog />
</div>