<form [formGroup]="productForm">
    <div class="field">
        <label for="nombre">Nombre</label>
        <input type="text" pInputText id="nombre" required autofocus formControlName="nombre"/>
    </div>
    <div class="field">
        <label for="descripcion">Descripcion</label>
        <textarea id="descripcion" pInputTextarea required rows="3" cols="20" formControlName="descripcion">
        </textarea>
    </div>

    <div class="field">
        <label for="categoriaId">Categoria</label>
        <p-dropdown inputId="categoriaId" [options]="categorias" optionLabel="nombre" optionValue="id" formControlName="categoriaId">
        </p-dropdown>
    </div>

    <div class="formgrid grid">
        <div class="field col">
            <label for="precio">Precio</label>
            <p-inputNumber id="precio" locale="es-Bo" formControlName="precio" />
        </div>
    </div>
    <label>Imagen</label>
    <br>
    <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)"
        (onSelect)="onUpload($event)"
        
        [multiple]="true" accept="image/*" maxFileSize="1000000">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">
                    {{ file.name }} - {{ file.size }} bytes
                </li>
            </ul>
        </ng-template>
    </p-fileUpload>
    <div class="flex gap-4 justify-content-end mt-4">
        <p-button label="Cancel" icon="pi pi-times"  severity="danger" (click)="closeDialog()"/>
        <p-button label="Save" icon="pi pi-check" (click)="createProduct()" />
    </div>
 
</form>