<div>
    <div class="field">
        <label for="name">Nombre</label>
        <input type="text" pInputText id="name" required autofocus />
    </div>
    <div class="field">
        <label for="description">Description</label>
        <textarea id="description" pInputTextarea required rows="3" cols="20">
        </textarea>
    </div>

    <div class="field">
        <label for="inventoryStatus">Categoria</label>
        <p-dropdown inputId="inventoryStatus" [options]="[]">
        </p-dropdown>
    </div>

    <div class="formgrid grid">
        <div class="field col">
            <label for="price">Precio</label>
            <p-inputNumber id="price" locale="es-Bo" />
        </div>
    </div>
    <label>Imagen</label>
    <br>
    <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)"
        [multiple]="true" accept="image/*" maxFileSize="1000000">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">
                    {{ file.name }} - {{ file.size }} bytes
                </li>
            </ul>
        </ng-template>
    </p-fileUpload>
    <div class="flex gap-4 justify-content-end mt-4">
        <p-button label="Cancel" icon="pi pi-times"  severity="danger"/>
        <p-button label="Save" icon="pi pi-check"  />
    </div>
 
</div>